

{% extends "base.html" %}

{% block content %}
<div style="width: 100%; display: flex; justify-content: center; margin-top: 5vw">

    <div class="shadow"
        style="background-color: #fff;  padding: 2vw 4vw; display: flex; flex-direction: column; align-items: center; justify-content: centers; border-radius: 0.5vw;">
        <div style="font-size: 2vw; font-weight: 700; " class="">Sign Up</div>
        <div class="header-line"></div>

        <div id="error-log" style="font-size: 1vw; margin-top: 1vw; color: #BF6CCF;" class="hidden">hello from the
            Rvel</div>
        <!-- form -->
        <div style="margin-top: 2vw;">
            <div style="display: flex; flex-direction: column;">
                <div style="font-size: 1.2vw; margin-bottom: 0.5vw;">Username*</div>
                <input type="text" class="auth-input" placeholder="Full Name" id="username">
            </div>
            <div style="display: flex; flex-direction: column; margin-top: 1vw;">
                <div style="font-size: 1.2vw; margin-bottom: 0.5vw;">Email*</div>
                <input type="email" class="auth-input" placeholder="abc@gmail.com" id="email">
            </div>
            <div style="display: flex; flex-direction: column; margin-top: 1vw;">
                <div style="font-size: 1.2vw; margin-bottom: 0.5vw;">Password*</div>
                <input type="password" class="auth-input" placeholder="********" id="password">
            </div>
            <button class="auth-btn" id="sign-btn">Sign Up</button>
            <div style="width: 100%; text-align: center; margin-top: 0.5vw;">
                <a href="/signin" class="auth-log-text">Already Rigistered? <span class="primaryColor">Sign In</span></a>
            </div>
            <p class="log-text">By clicking on Sign Up, you agree to our <span>Terms of Services</span> and
                <span>Privacy Policy</span>.
            </p>
        </div>

    </div>

</div>
{% endblock %}